.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-check {
	width:(3.2/2.879)*1em;
}
.icon-dev-hleb-kroshki {
	width:(7/10)*1em;
}
.icon-fs {
	width:(2.879/5.12)*1em;
}
.icon-home {
	width:(512/512)*1em;
}
.icon-inst {
	width:(5.12/5.12)*1em;
}
.icon-mail {
	width:(12.8/10.239)*1em;
}
.icon-marker-act {
	width:(4.799/4.799)*1em;
}
.icon-marker-pas {
	width:(4.799/4.799)*1em;
}
.icon-minus {
	width:(512/512)*1em;
}
.icon-next {
	width:(40/40)*1em;
}
.icon-plus {
	width:(512/512)*1em;
}
.icon-podpis {
	width:(6.399/6.399)*1em;
}
.icon-reset {
	width:(6.399/6.399)*1em;
}
.icon-search {
	width:(5.12/5.12)*1em;
}
.icon-telegr {
	width:(5.12/4.479)*1em;
}
.icon-treug {
	width:(2.879/2.24)*1em;
}
.icon-twitter {
	width:(5.12/4.479)*1em;
}
.icon-vk {
	width:(5.12/3.2)*1em;
}
.icon-x-button {
	width:(512/512)*1em;
}
